@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Lato');

html, body {
	font-family: 'Lato', sans-serif;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.intro {
	top: 0;
	padding-top: 25%;
	padding-bottom: 25%;
	background: #ededed;
}

.intro  h1 {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 40px;
	line-height: 33px;
	padding: 10px 10px 0px;
}

.intro  p {
	font-size: 20px;
	line-height: 36px;
}

nav ul {
	position: fixed;
	background-color: #ededed;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: right;
}

nav ul li {
	display: inline-block;
	margin: 25px 55px 15px;
	font-weight: bold;
}

nav ul a {
	color: #999;
}

nav ul a:hover {
	color: #000;
}