@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Lato');

html, body {
	font-family: 'Lato', sans-serif;
	padding: 0px;
	margin: 0px;
	text-align: center;
	background-color: #e5dbe2;
}

.intro, nav ul {
	background-color: #e5dbe2;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ac929a' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.intro {
	top: 0;
	padding-top: 25%;
	padding-bottom: 25%;
}

h1 {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 50px;
	line-height: 33px;
	padding: 10px 10px 0px;
}

.intro  p, .contact p, .show-all {
	font-size: 20px;
	line-height: 36px;
}

nav ul {
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: right;
	z-index: 1;
}

nav ul li {
	display: inline-block;
	margin: 25px 55px 15px;
	font-weight: bold;
}

nav ul a {
	color: #999;
}

nav ul a:hover {
	color: #000;
}

h2 {
	font-size: 30px;
	padding: 10px;
}

.work {
	padding-top: 60px;
	margin-top: -60px;
}

a.projects {
	padding: 20px;
	margin: 10px;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
}

.projects {
	text-decoration: none;
	display: inline-block;
	color: #000;
	overflow: hidden;
	height: 220px;
	width: 280px;
}

.project-picture {
	height: 180px;
	width: 100%;
	border: 2px solid #e5dbe2;
	opacity: 1;
	display: block;
	transition: .5s ease;
	backface-visibility: hidden;
}

a.projects:hover .project-picture {
	opacity: 0.3;
}

a.projects:hover .middle {
	opacity: 1;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.project-tile {
	font-weight: bold;
	font-size: 24px;
	height: 50%;
}

@media only screen and (max-width: 500px) {
	nav ul {
		text-align: center;
		position: fixed;
	}

	.projects {
		margin: 10px 0;
	}
}

.show-all {
	text-decoration: none;
	display: block;
	width: 200px;
	height: 30px;
	margin: 20px auto 90px;
	font-weight: bold;
	color: #999;
}

.show-all:hover {
	color: #000;
}

.contact {
	padding-top: 5%;
	padding-bottom: 5%;
	margin-top: -60px;
}

.contact p {
	margin: 5% 20%;
}

.contact a {
	font-size: 50px;
	margin: 10px;
}

.fa {
	padding: 20px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 4px;
	border-radius: 50%;
}

.fa:hover {
	opacity: 0.6;
}

.fa-github {
	background: #000;
	color: white;
}

.fa-linkedin {
	background: #0677b4;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

footer {
	margin: 10px;
	padding: 10px;
}